.header{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;
    gap: 8px;
}
.hLine{
    border-radius: 0px 0px 8px 8px;
border-top: 1px solid var(--Gray-200, #EAECF0);
display: flex;
padding: 12px 16px;
justify-content: flex-end;
align-items: center;
gap: 20px;
align-self: stretch;
}