@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;500&display=swap');


.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}
.head{
    color: #363636;
    font-family: 'Manrope', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 110% */
}
.score {
    width: 35%;
}
.chartMonth{
    width: 60%;
}

@media only screen and (max-width: 1080px) {
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        /* flex-wrap: wrap; */
    }
    .score {
        width: 80%;
    }
    .chartMonth{
        width: 80%;
    }
  }


  @media only screen and (max-width: 500px) {
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        /* flex-wrap: wrap; */
    }
    .score {
        width: 100%;
    }
    .chartMonth{
        width: 100%;
    }
  }